In [45]:
import openpyxl
import pandas as pd
import os
import datetime
#from IPython.display import display

In [46]:
def print_full(x):
    df = pd.DataFrame(x)
    pd.set_option('display.max_rows', 2000)
    pd.set_option('display.max_columns', 20)
    display(df)

In [47]:
excelname= "ma"
sheetname = "10ma"

wb = openpyxl.load_workbook(str(excelname)+".xlsx")
ws = wb[str(sheetname)]

dataset = []

i = 1
while(ws.cell(row=i, column=1).value!=None):
    row = []
    j = 1
    while(ws.cell(row=i, column=j).value!=None):
        row.append(ws.cell(row=i, column=j).value)
        j = j +1
    dataset.append(row)
    i = i + 1

In [48]:
# trade =[[0 for x in range(15)] for y in range(len(dataset))]
trade = []
for i in range(0, len(dataset)):
    row = []
    for j in range(0, 15):
        row.append(0)
    trade.append(row)
trade[0][0] = "date"
trade[0][1] = "buy"
trade[0][2] = "hold"
trade[0][3] = "sell"
trade[0][4] = "number"
trade[0][5] = "value"
trade[0][6] = "period_return"
trade[0][7] = "closeprice"
trade[0][8] = "10ma"
trade[0][9] = "open"
trade[0][10] = "high"
trade[0][11] = "low"
trade[0][12] = "rsv"
trade[0][13] = "k"
trade[0][14] = "d"

In [49]:
for i in range(1, len(trade)):
    trade[i][0] = dataset[i][0]
    trade[i][7] = float(dataset[i][7])
for i in range(10, len(trade)):
    temp = 0
    for j in range(0, 10):
        temp = temp + trade[i-j][7]
    trade[i][8] = temp / 10

In [50]:
for i in range(10, len(trade)):
    if(trade[i][7] > trade[i][8])and(trade[i-1][2]==0):
        trade[i][1] = 1
        trade[i][2] = 1
        trade[i][3] = 0
    elif(trade[i][7] < trade[i][8])and(trade[i-1][2]==1):
        trade[i][1] = 0
        trade[i][2] = 0
        trade[i][3] = 1
    elif(trade[i-1][2]>0):
        trade[i][1] = 0
        trade[i][2] = 1
        trade[i][3] = 0

In [51]:
for i in range(0, len(trade)):
    for j in range(0, len(trade[1])):
        ws.cell(row=i+1, column=j+1).value= trade[i][j]
wb.save('ma.xlsx')

In [52]:
pd.DataFrame(trade).head(12)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,date,buy,hold,sell,number,value,period_return,closeprice,10ma,open,high,low,rsv,k,d
1,2003-07-01,0,0,0,0,0,0,38.05,0,0,0,0,0,0,0
2,2003-07-02,0,0,0,0,0,0,38.69,0,0,0,0,0,0,0
3,2003-07-03,0,0,0,0,0,0,39,0,0,0,0,0,0,0
4,2003-07-04,0,0,0,0,0,0,39.26,0,0,0,0,0,0,0
5,2003-07-07,0,0,0,0,0,0,41,0,0,0,0,0,0,0
6,2003-07-08,0,0,0,0,0,0,41.19,0,0,0,0,0,0,0
7,2003-07-09,0,0,0,0,0,0,41.22,0,0,0,0,0,0,0
8,2003-07-10,0,0,0,0,0,0,40.05,0,0,0,0,0,0,0
9,2003-07-11,0,0,0,0,0,0,39.91,0,0,0,0,0,0,0
10,2003-07-14,1,1,0,0,0,0,40.66,39.903,0,0,0,0,0,0
11,2003-07-15,0,1,0,0,0,0,40.19,40.117,0,0,0,0,0,0

In [53]:
for i in range(1, len(trade)):
    trade[i][0] = dataset[i][0]
    trade[i][7] = dataset[i][7]
    trade[i][10] = dataset[i][10]
    trade[i][11] = dataset[i][11]
    trade[i][12] = float(dataset[i][12])
for i in range(9, len(trade)):
    high=trade[i][10]
    low=trade[i][11]
    for j in range(1,9):
        if(trade[i-j][10]>high):
            high=trade[i-j][10]
        if(trade[i-j][11]<low):
            low=trade[i-j][11]
        trade[i][12]=(trade[i][7]-low)/(high-low)*100
    rsv=trade[i][12]

In [54]:
pd.DataFrame(trade).head(20)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,date,buy,hold,sell,number,value,period_return,closeprice,10ma,open,high,low,rsv,k,d
1,2003-07-01,0,0,0,0,0,0,38.05,0,0,37.4,36.92,0,0,0
2,2003-07-02,0,0,0,0,0,0,38.69,0,0,38.1,37.09,0,0,0
3,2003-07-03,0,0,0,0,0,0,39,0,0,38.82,38.1,0,0,0
4,2003-07-04,0,0,0,0,0,0,39.26,0,0,40.6,38.81,0,0,0
5,2003-07-07,0,0,0,0,0,0,41,0,0,39.26,38.75,0,0,0
6,2003-07-08,0,0,0,0,0,0,41.19,0,0,41,39.6,0,0,0
7,2003-07-09,0,0,0,0,0,0,41.22,0,0,42,40.7,0,0,0
8,2003-07-10,0,0,0,0,0,0,40.05,0,0,41.3,40.81,0,0,0
9,2003-07-11,0,0,0,0,0,0,39.91,0,0,41.2,40.05,58.8583,0,0
10,2003-07-14,1,1,0,0,0,0,40.66,39.903,0,39.97,39.3,72.7088,0,0
11,2003-07-15,0,1,0,0,0,0,40.19,40.117,0,41,39.92,53.5897,0,0
12,2003-07-16,0,1,0,0,0,0,40.85,40.333,0,40.86,40.19,64.6154,0,0
13,2003-07-17,0,0,1,0,0,0,39.8,40.413,0,40.98,40.24,32.3077,0,0
14,2003-07-18,0,0,0,0,0,0,39.92,40.479,0,40.65,39.8,22.963,0,0
15,2003-07-21,0,0,0,0,0,0,39.4,40.319,0,39.98,39.55,3.7037,0,0
16,2003-07-22,0,0,0,0,0,0,39.98,40.198,0,40.25,39.4,34,0,0
17,2003-07-23,0,0,0,0,0,0,40.05,40.081,0,39.98,39.41,39.4737,0,0
18,2003-07-24,1,1,0,0,0,0,41.23,40.199,0,40.5,40,113.529,0,0
19,2003-07-25,0,1,0,0,0,0,41.23,40.331,0,41.23,40.2,100,0,0

In [55]:
i=10
trade[9][13]=50
trade[9][14]=50
for i in range(10, len(trade)): 
    trade[i][13] = trade[i-1][13]*(2/3) + trade[i][12]*(1/3)   
    trade[i][14] = trade[i-1][14]*(2/3) + trade[i][13]*(1/3)

In [56]:
pd.DataFrame(trade).head(30)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,date,buy,hold,sell,number,value,period_return,closeprice,10ma,open,high,low,rsv,k,d
1,2003-07-01,0,0,0,0,0,0,38.05,0,0,37.4,36.92,0,0,0
2,2003-07-02,0,0,0,0,0,0,38.69,0,0,38.1,37.09,0,0,0
3,2003-07-03,0,0,0,0,0,0,39,0,0,38.82,38.1,0,0,0
4,2003-07-04,0,0,0,0,0,0,39.26,0,0,40.6,38.81,0,0,0
5,2003-07-07,0,0,0,0,0,0,41,0,0,39.26,38.75,0,0,0
6,2003-07-08,0,0,0,0,0,0,41.19,0,0,41,39.6,0,0,0
7,2003-07-09,0,0,0,0,0,0,41.22,0,0,42,40.7,0,0,0
8,2003-07-10,0,0,0,0,0,0,40.05,0,0,41.3,40.81,0,0,0
9,2003-07-11,0,0,0,0,0,0,39.91,0,0,41.2,40.05,58.8583,50,50
10,2003-07-14,1,1,0,0,0,0,40.66,39.903,0,39.97,39.3,72.7088,57.5696,52.5232
11,2003-07-15,0,1,0,0,0,0,40.19,40.117,0,41,39.92,53.5897,56.243,53.7631
12,2003-07-16,0,1,0,0,0,0,40.85,40.333,0,40.86,40.19,64.6154,59.0338,55.52
13,2003-07-17,0,0,1,0,0,0,39.8,40.413,0,40.98,40.24,32.3077,50.1251,53.7217
14,2003-07-18,0,0,0,0,0,0,39.92,40.479,0,40.65,39.8,22.963,41.071,49.5048
15,2003-07-21,0,0,0,0,0,0,39.4,40.319,0,39.98,39.55,3.7037,28.6153,42.5416
16,2003-07-22,0,0,0,0,0,0,39.98,40.198,0,40.25,39.4,34,30.4102,38.4978
17,2003-07-23,0,0,0,0,0,0,40.05,40.081,0,39.98,39.41,39.4737,33.4313,36.809
18,2003-07-24,1,1,0,0,0,0,41.23,40.199,0,40.5,40,113.529,60.1307,44.5829
19,2003-07-25,0,1,0,0,0,0,41.23,40.331,0,41.23,40.2,100,73.4205,54.1954
20,2003-07-28,0,1,0,0,0,0,41.58,40.423,0,41.34,40.85,112.371,86.404,64.9316
21,2003-07-29,0,1,0,0,0,0,41.02,40.506,0,41.94,41.57,63.7795,78.8625,69.5753
22,2003-07-30,0,1,0,0,0,0,40.6,40.481,0,41.54,40.83,47.2441,68.323,69.1579
23,2003-07-31,0,1,0,0,0,0,40.87,40.588,0,41.02,40.55,57.874,64.84,67.7186
24,2003-08-01,0,1,0,0,0,0,41.6,40.756,0,41,40.44,86.6142,72.0981,69.1784
25,2003-08-04,0,1,0,0,0,0,41.4,40.956,0,41.6,41.05,78.6561,74.2841,70.8803
26,2003-08-05,0,0,1,0,0,0,40.5,41.008,0,41.55,41.21,25.7732,58.1138,66.6248
27,2003-08-06,0,0,0,0,0,0,40.23,41.026,0,41.61,40.5,1.72414,39.3172,57.5223
28,2003-08-07,0,0,0,0,0,0,40.7,40.973,0,40.3,40.06,34.0426,37.559,50.8679
29,2003-08-08,0,0,0,0,0,0,40.18,40.868,0,40.77,39.97,10.6599,28.5926,43.4428

In [57]:
for i in range(10, len(trade)):
    if(trade[i][13] > trade[i][14])and(trade[i-1][1]==0):
        trade[i][1] = 1
        trade[i][2] = 1
        trade[i][3] = 0
    elif(trade[i][13] < trade[i][14])and(trade[i-1][1]==1):
        trade[i][1] = 0
        trade[i][2] = 0
        trade[i][3] = 1
    elif(trade[i-1][1]>0):
        trade[i][1] = 0
        trade[i][2] = 1
        trade[i][3] = 0

In [58]:
pd.DataFrame(trade).head(50)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,date,buy,hold,sell,number,value,period_return,closeprice,10ma,open,high,low,rsv,k,d
1,2003-07-01,0,0,0,0,0,0,38.05,0,0,37.4,36.92,0,0,0
2,2003-07-02,0,0,0,0,0,0,38.69,0,0,38.1,37.09,0,0,0
3,2003-07-03,0,0,0,0,0,0,39,0,0,38.82,38.1,0,0,0
4,2003-07-04,0,0,0,0,0,0,39.26,0,0,40.6,38.81,0,0,0
5,2003-07-07,0,0,0,0,0,0,41,0,0,39.26,38.75,0,0,0
6,2003-07-08,0,0,0,0,0,0,41.19,0,0,41,39.6,0,0,0
7,2003-07-09,0,0,0,0,0,0,41.22,0,0,42,40.7,0,0,0
8,2003-07-10,0,0,0,0,0,0,40.05,0,0,41.3,40.81,0,0,0
9,2003-07-11,0,0,0,0,0,0,39.91,0,0,41.2,40.05,58.8583,50,50
10,2003-07-14,1,1,0,0,0,0,40.66,39.903,0,39.97,39.3,72.7088,57.5696,52.5232
11,2003-07-15,0,1,0,0,0,0,40.19,40.117,0,41,39.92,53.5897,56.243,53.7631
12,2003-07-16,1,1,0,0,0,0,40.85,40.333,0,40.86,40.19,64.6154,59.0338,55.52
13,2003-07-17,0,0,1,0,0,0,39.8,40.413,0,40.98,40.24,32.3077,50.1251,53.7217
14,2003-07-18,0,0,0,0,0,0,39.92,40.479,0,40.65,39.8,22.963,41.071,49.5048
15,2003-07-21,0,0,0,0,0,0,39.4,40.319,0,39.98,39.55,3.7037,28.6153,42.5416
16,2003-07-22,0,0,0,0,0,0,39.98,40.198,0,40.25,39.4,34,30.4102,38.4978
17,2003-07-23,0,0,0,0,0,0,40.05,40.081,0,39.98,39.41,39.4737,33.4313,36.809
18,2003-07-24,1,1,0,0,0,0,41.23,40.199,0,40.5,40,113.529,60.1307,44.5829
19,2003-07-25,0,1,0,0,0,0,41.23,40.331,0,41.23,40.2,100,73.4205,54.1954
20,2003-07-28,1,1,0,0,0,0,41.58,40.423,0,41.34,40.85,112.371,86.404,64.9316
21,2003-07-29,0,1,0,0,0,0,41.02,40.506,0,41.94,41.57,63.7795,78.8625,69.5753
22,2003-07-30,0,1,0,0,0,0,40.6,40.481,0,41.54,40.83,47.2441,68.323,69.1579
23,2003-07-31,0,1,0,0,0,0,40.87,40.588,0,41.02,40.55,57.874,64.84,67.7186
24,2003-08-01,1,1,0,0,0,0,41.6,40.756,0,41,40.44,86.6142,72.0981,69.1784
25,2003-08-04,0,1,0,0,0,0,41.4,40.956,0,41.6,41.05,78.6561,74.2841,70.8803
26,2003-08-05,0,0,1,0,0,0,40.5,41.008,0,41.55,41.21,25.7732,58.1138,66.6248
27,2003-08-06,0,0,0,0,0,0,40.23,41.026,0,41.61,40.5,1.72414,39.3172,57.5223
28,2003-08-07,0,0,0,0,0,0,40.7,40.973,0,40.3,40.06,34.0426,37.559,50.8679
29,2003-08-08,0,0,0,0,0,0,40.18,40.868,0,40.77,39.97,10.6599,28.5926,43.4428
30,2003-08-11,0,0,0,0,0,0,40.1,40.72,0,40.7,40.18,7.92683,21.704,36.1965
31,2003-08-12,0,0,0,0,0,0,40.55,40.673,0,40.18,39.68,45.0777,29.4953,33.9628
32,2003-08-13,1,1,0,0,0,0,42.45,40.858,0,40.65,40.34,143.523,67.5046,45.1434
33,2003-08-14,0,1,0,0,0,0,42.3,41.001,0,42.45,41,94.5848,76.5314,55.606
34,2003-08-15,1,1,0,0,0,0,42.72,41.113,0,42.55,42,105.923,86.3287,65.8469
35,2003-08-18,0,1,0,0,0,0,42.8,41.253,0,43.5,42.66,81.6754,84.7776,72.1571
36,2003-08-19,1,1,0,0,0,0,43,41.503,0,43.1,42.52,86.911,85.4887,76.601
37,2003-08-20,0,1,0,0,0,0,43.19,41.799,0,43.6,42.8,89.5408,86.8394,80.0138
38,2003-08-21,1,1,0,0,0,0,44,42.129,0,43.28,42.8,110.204,94.6276,84.8851
39,2003-08-22,0,1,0,0,0,0,44.04,42.515,0,44,42.8,100.926,96.7271,88.8324
40,2003-08-25,1,1,0,0,0,0,44.35,42.94,0,44.59,43.95,94.3529,95.9357,91.2002
41,2003-08-26,0,0,1,0,0,0,43.46,43.231,0,44.39,43.79,68.5237,86.7984,89.7329
42,2003-08-27,0,1,0,0,0,0,43.62,43.348,0,44.25,43.4,62.5483,78.715,86.0603
43,2003-08-28,0,1,0,0,0,0,43.56,43.474,0,43.97,43.28,50.2415,69.2238,80.4481
44,2003-08-29,1,1,0,0,0,0,44.92,43.694,0,43.95,43.49,115.942,84.7966,81.8976
45,2003-09-01,0,1,0,0,0,0,45.15,43.929,0,44.92,43.6,110.849,93.4807,85.7586
46,2003-09-02,1,1,0,0,0,0,45.52,44.181,0,46.4,44.79,75.5556,87.5057,86.341
47,2003-09-03,0,0,1,0,0,0,45,44.362,0,45.52,44.9,61.1111,78.7075,83.7965
48,2003-09-04,0,1,0,0,0,0,44.51,44.413,0,45.9,45,39.4231,65.6127,77.7352
49,2003-09-05,0,1,0,0,0,0,45.03,44.512,0,45.1,44.51,56.0897,62.4384,72.6363